.navbar {
    background-color: indigo;
}

.card-header.mgr {
    background-color: goldenrod;
}

.card-header.eng {
    background-color: seagreen;

}

.card-header.int {
    background-color: navy;

}

.card {
    padding: 0%;
}

